@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&@400&@600&@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root{
    --roboto: 'Roboto', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --darkblue:#0b1638;
    --lightblue:#17316f;
    --red:#bc0d04;
    --text:rgb(137, 137, 137);
    --bc1:#c0dce9;
    --bc2:#384aeb;
    --bc3:#f1f6f7;
    --bc4:#99c6d7;
}


h1{
    font-family: var(--roboto);
    font-size: 50px;
    color: black;
}

h4{
    font-family:var(--roboto);
    font-size: 30px;
}

p{
    font-family: var(--roboto);
    font-size: 16px;
    color: var(--text);
}


h2,h3{
    font-family: var(--oswald);
}

li{
    font-family: var(--roboto);
    color: var(--text);
}
// .gb_t_button{
//     height: 40px;
//     width: 120px;
//     border: none;
//     border-radius: 30px;
//     transition: .5s ease;
//     cursor: pointer;

//     &:hover{
//         border: .5px solid var(--darkblue);
//     }
// }

.gb_out{
    border-radius: 20%;
}
.gb_underline{
  height: 100px;
  border-bottom: 2px solid var(--bc2);
  padding-bottom: 10px;
}


.nb_aw_container{
    // border: 2px solid black;
    .size_manager{
        height: 90px;
        position: relative;
        // border: 2px solid black;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-bottom: .5px solid rgb(225, 225, 225);
        .nb_c1{
            height: 100%;
            // border: 2px solid green;
        }
        .logo{
            flex: 1;
            img{
                float: right;
                height: 100%;
                scale: 1.9;
            }
        }
        nav{
            flex: 3;
            ul{
                height: 100%;
                display: flex;
                justify-items: center;
                place-content: center;
                column-gap: 20px;
                li{
                    padding: 10px;
                    height: 100%;
                    // border: 2px solid black;
                    display: flex;
                    place-content: center;
                    place-items: center;
                    cursor: pointer;
                    &:hover{
                        color: blue;
                    }
                }
            }
        }
        .other{
            flex: 2;
            display: flex;
            place-content: center;
            place-items: center;
            column-gap: 20px;
            .carticon{
                font-size: 30px;
            }
        }
    }
    // .search_aw{
    //     height: 70px;
    //     // border: 2px solid blue;
    //     // background-color: var(--red);
    //     width: 100%;
    //     padding: 10px;
    //     display: flex;
    //     place-content: center;
    //     place-items: center;
    // }
}


// homepage

.hp_aw_container{
    .size_manager{
        height: 90vh;
        // border: 2px solid black;
        background-color: var(--bc3);
        .right{
            height: 100%;
            // border: 2px solid blue;
            width: 40%;
            float: right;
            display: flex;
            flex-direction: column;
            place-content: center;
            row-gap:20px;
            p{
                line-height: 1.6;
            }
        }
        .left{
            height: 100%;
            width: 60%;
            float: left;
            // border: 10px solid blue;
            position: relative;
            span{
                float: left;
                &:first-child{
                    height: 100%;
                    width: 50%;
                    // border: 2px solid green;
                    background-image: linear-gradient(rgb(109, 109, 253),var(--bc2),var(--bc2));
                }
                &:last-child{
                    position: absolute;
                    height: 80%;
                    bottom: 0;
                    // border: 5px solid pink;
                    width: 50%;
                    right: 50px;
                    background-color: var(--bc1);
                    display: flex;
                    place-content: center;
                    place-items: center;
                }
            }
            }
        }
    }

.hsi_aw_container{
    // border: 2px solid black;
    // float: left;
    padding: 10px;
    .carousel_item{
        height: 420px;
        // width: 30%;
        // border: 2px solid black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        overflow: hidden;
        .head_transition{
            height: 130%;
            width: 100%;
            z-index: 2;
            // border: 2px solid black;
            position: relative;
            float: left;
            transition: .6s;
            transform: translateY(50px);
            &:hover{
                background-color: rgba($color: white, $alpha: .6);
                height: 100%;
                transform: translateY(0px);
            }
            .view_container{
                height: 90px;
                width: 200px;
                background-color: var(--bc2);
                display: flex;
                flex-direction: column;
                place-content: center;
                padding: 20px;
                position: absolute;
                bottom: 80px;
                left: 2px;
                h2{
                    color: white;
                    font-size: 25px;
                }
                p{
                    color: white;
                }
            }
        }
    }
}

.htp_aw_container{
    float: left;
    .size_manager{
        padding: 80px 140px 0px 140px;
        // border: 2px solid black;
        .header{
            float: left;
            // padding-left: 70px;
            // border: 2px solid black;
            p{}
            h2{
                font-size: 40px;
                font-weight: 600;
            }
        }
        .product_list_container{
            float: left;
            display: flex;
            flex-wrap: wrap;
            // column-gap: 10px;
            // row-gap: 20px;
            margin-top: 50px;
            // border: 2px solid green;
            width: 100%;
            justify-content: space-around;
            .product_list{
                // border: 2px solid black;
                width: 285px;
                height: 430px;
                padding: 15px;
                float: left;
                .img_container{
                    height: 270px;
                    border-radius: 4px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .detail_container{
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    place-items: center;
                    height: calc(100% - 270px);
                    p{
                        font-size: 15px;
                    }
                    h2{
                        font-weight: 400;
                        cursor: pointer;
                        transition: .5s;
                        font-size: 20px;
                    }
                    h3{
                        font-weight: 400;
                        color: var(--text);
                    }
                }
                &:hover .detail_container h2{
                    color: var(--bc2);
                }
            }
        }
    }
}

.hsob_aw_container{
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .size_manager{
        height: 60vh;
        width: 100%;
        padding: 50px;
        background-color: var(--bc4);
        // border: 2px solid black;
        display: flex;
        place-content: center;
        place-items: center;
        justify-content: space-around;
        overflow: hidden;
        .detail_container{
            width: 50%;
            background-position: center;
            text-align: center;
            line-height: 2;
            // border: 2px solid black;
            h2{
                font-size: 50px;
                font-weight: 400;
            }
            h3{
                font-weight: 400;
                font-size: 25px;
            }
        }
        .img_container{
            width: 50%;
            display: flex;
            place-content: center;
            // border: 2px solid black;
            img{
                height: 100%;
                min-height: 200px;
                max-height: 500px;
            }
        }
    }
}