@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&@400&@600&@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html, body {
  max-width: 1920px;
  margin: auto;
}

:root {
  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", sans-serif;
  --darkblue:#0b1638;
  --lightblue:#17316f;
  --red:#bc0d04;
  --text:rgb(137, 137, 137);
  --bc1:#c0dce9;
  --bc2:#384aeb;
  --bc3:#f1f6f7;
  --bc4:#99c6d7;
  --bc5:#002347;
}

h1 {
  font-family: var(--roboto);
  font-size: 50px;
  color: black;
}

h4 {
  font-family: var(--roboto);
  font-size: 30px;
}

p {
  font-family: var(--roboto);
  font-size: 16px;
  color: var(--text);
}

h2, h3 {
  font-family: var(--oswald);
}

li {
  font-family: var(--roboto);
  color: var(--text);
}

.container {
  max-width: 1920px;
}
.container .hrn_aw_container {
  position: sticky;
  top: 0;
  z-index: 10;
}

.gb_out {
  border-radius: 20%;
}

.gb_underline {
  height: 100px;
  border-bottom: 2px solid var(--bc2);
  padding-bottom: 10px;
}

.nb_aw_container {
  border: 2px solid black;
  overflow: hidden;
}
.nb_aw_container .size_manager {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 0.5px solid rgb(225, 225, 225);
}
.nb_aw_container .size_manager .nb_c1 {
  height: 100%;
}
.nb_aw_container .size_manager .logo {
  flex: 1;
}
.nb_aw_container .size_manager .logo img {
  float: right;
  height: 100%;
  scale: 1.9;
}
.nb_aw_container .size_manager nav {
  flex: 3;
}
.nb_aw_container .size_manager nav ul {
  height: 100%;
  display: flex;
  justify-items: center;
  place-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.nb_aw_container .size_manager nav ul li {
  padding: 10px;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
}
.nb_aw_container .size_manager nav ul li:hover {
  color: blue;
}
.nb_aw_container .size_manager .other {
  flex: 2;
  display: flex;
  place-content: center;
  place-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.nb_aw_container .size_manager .other .carticon {
  font-size: 30px;
}

.hp_aw_container {
  overflow: hidden;
}
.hp_aw_container .size_manager {
  height: 90vh;
  background-color: var(--bc3);
}
.hp_aw_container .size_manager .right {
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  place-content: center;
  row-gap: 20px;
}
.hp_aw_container .size_manager .right p {
  line-height: 1.6;
}
.hp_aw_container .size_manager .left {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}
.hp_aw_container .size_manager .left span {
  float: left;
}
.hp_aw_container .size_manager .left span:first-child {
  height: 100%;
  width: 70%;
  background-color: var(--bc2);
}
.hp_aw_container .size_manager .left span:last-child {
  position: absolute;
  height: 90%;
  bottom: 0;
  width: 60%;
  right: 70px;
  background-color: var(--bc1);
  display: flex;
  place-content: center;
  place-items: center;
}

.hsi_aw_container {
  padding: 10px;
}
.hsi_aw_container .carousel_item {
  height: 420px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
}
.hsi_aw_container .carousel_item .head_transition {
  height: 130%;
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
  transition: 0.6s;
  transform: translateY(50px);
}
.hsi_aw_container .carousel_item .head_transition:hover {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  transform: translateY(0px);
}
.hsi_aw_container .carousel_item .head_transition .view_container {
  height: 90px;
  width: 200px;
  background-color: var(--bc2);
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 20px;
  position: absolute;
  bottom: 80px;
  left: 2px;
}
.hsi_aw_container .carousel_item .head_transition .view_container h2 {
  color: white;
  font-size: 25px;
}
.hsi_aw_container .carousel_item .head_transition .view_container p {
  color: white;
}

.htp_aw_container {
  float: left;
  width: 100%;
}
.htp_aw_container .size_manager {
  padding: 80px 140px 0px 140px;
}
.htp_aw_container .size_manager .header {
  float: left;
}
.htp_aw_container .size_manager .header h2 {
  font-size: 40px;
  font-weight: 600;
}
.htp_aw_container .size_manager .product_list_container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  justify-content: space-around;
}

.product_list {
  width: 285px;
  height: 430px;
  padding: 15px;
  float: left;
}
.product_list .img_container {
  height: 270px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product_list .detail_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: calc(100% - 270px);
}
.product_list .detail_container p {
  font-size: 15px;
}
.product_list .detail_container h2 {
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
}
.product_list .detail_container h3 {
  font-weight: 400;
  color: var(--text);
}
.product_list:hover .detail_container h2 {
  color: var(--bc2);
}

.hsob_aw_container {
  float: left;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hsob_aw_container .size_manager {
  height: 60vh;
  width: 100%;
  padding: 50px;
  background-color: var(--bc4);
  display: flex;
  place-content: center;
  place-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.hsob_aw_container .size_manager .detail_container {
  width: 50%;
  background-position: center;
  text-align: center;
  line-height: 2;
}
.hsob_aw_container .size_manager .detail_container h2 {
  font-size: 50px;
  font-weight: 400;
}
.hsob_aw_container .size_manager .detail_container h3 {
  font-weight: 400;
  font-size: 25px;
}
.hsob_aw_container .size_manager .img_container {
  width: 50%;
  display: flex;
  place-content: center;
}
.hsob_aw_container .size_manager .img_container img {
  height: 100%;
  min-height: 200px;
  max-height: 500px;
}

.hbsl_aw_container {
  width: 100%;
  padding: 70px 120px 0px 120px;
}
.hbsl_aw_container .header {
  float: left;
}
.hbsl_aw_container .header h2 {
  font-size: 40px;
  font-weight: 600;
}
.hbsl_aw_container .size_manager {
  height: 450px;
  width: 100%;
  float: left;
  margin-top: 50px;
  padding: 20px;
  background-color: transparent;
}

.hln_aw_container {
  width: 100%;
  float: left;
  overflow: hidden;
}
.hln_aw_container .size_manager {
  padding: 70px 120px 0px 140px;
  background-color: transparent;
}
.hln_aw_container .size_manager .header {
  float: left;
}
.hln_aw_container .size_manager .header h2 {
  font-size: 40px;
  font-weight: 600;
}
.hln_aw_container .size_manager .latest_news_container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  margin-top: 40px;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list {
  height: 490px;
  width: 390px;
  padding: 10px;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list .img_box {
  height: 60%;
  width: 100%;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list .description_box {
  line-height: 1.5;
  padding-top: 10px;
  border: 2px solid transparent;
  height: 40%;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list .description_box h3 {
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list .description_box p {
  padding-top: 5px;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list .description_box .read_more {
  color: black;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list:hover .description_box h3 {
  color: var(--bc2);
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list:hover .read_more {
  color: var(--bc2);
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list .arrow_read_more {
  transition: 0.3s ease;
}
.hln_aw_container .size_manager .latest_news_container .latest_news_list:hover .arrow_read_more {
  transform: translateX(5px);
}

.footer_container {
  float: left;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  padding-top: 50px;
}
.footer_container .size_manager {
  background-color: var(--bc5);
  color: white;
  height: 85%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 120px;
}
.footer_container .size_manager .mission_content {
  height: 100%;
  flex: 1;
}
.footer_container .size_manager .mission_content h2 {
  font-size: 40px;
}
.footer_container .size_manager .mission_content p {
  text-align: justify;
}
.footer_container .size_manager .quick_links {
  height: 70%;
  flex: 1;
  margin-left: 100px;
  padding: 50px;
}
.footer_container .size_manager .quick_links h2 {
  font-size: 18px;
}
.footer_container .size_manager .quick_links ul li {
  display: block;
  margin-top: 15px;
  cursor: pointer;
}
.footer_container .size_manager .quick_links ul li:hover {
  color: var(--bc2);
}
.footer_container .size_manager .f_contact_us {
  padding: 20px;
  height: 70%;
  flex: 1;
}
.footer_container .size_manager .f_contact_us h2 {
  font-size: 18px;
}
.footer_container .size_manager .f_contact_us .cu1 {
  margin-top: 10px;
  line-height: 1.5;
}
.footer_container .size_manager .f_contact_us .cu1 span {
  display: flex;
  place-items: center;
  font-family: var(--roboto);
}
.footer_container .size_manager .f_contact_us .cu1 span .footer_icon {
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: var(--bc2);
  border-radius: 50%;
  margin-right: 10px;
}
.footer_container .size_manager .f_contact_us .cu1 p {
  margin-left: 50px;
}
.footer_container .copyright_message {
  float: left;
  width: 100%;
  background-color: #05274b;
  height: 15%;
  text-align: center;
  padding: 20px;
}
.footer_container .copyright_message span {
  color: var(--bc2);
  font-family: var(--roboto);
}

@media screen and (max-width: 800px) {
  .hbsl_aw_container {
    padding: 10px;
  }
  .hbsl_aw_container .header h2 {
    font-size: 30px;
  }
  .hbsl_aw_container .size_manager {
    padding: 10px;
    width: 100%;
  }
  .hbsl_aw_container .size_manager .owl-carousel {
    width: 100%;
  }
  .hbsl_aw_container .size_manager .owl-carousel .owl-item {
    width: 200px;
    overflow: hidden;
    display: flex;
    place-content: center;
    place-items: center;
  }
  .hbsl_aw_container .size_manager .owl-carousel .owl-item .product_list {
    padding: 0;
    margin-left: 2px;
  }
  .htp_aw_container .size_manager {
    padding: 10px;
  }
  .hln_aw_container {
    margin-top: 50px;
  }
  .hln_aw_container .size_manager {
    padding: 10px;
  }
  .hsob_aw_container .size_manager {
    padding: 5px;
  }
  .hsob_aw_container .size_manager .detail_container {
    z-index: 2;
    line-height: 2;
  }
  .hsob_aw_container .size_manager .img_container {
    overflow: hidden;
    display: none;
  }
  .hp_aw_container .size_manager .left {
    width: 40%;
  }
  .hp_aw_container .size_manager .left span:first-child {
    width: 50%;
  }
  .hp_aw_container .size_manager .left span:last-child {
    width: 40%;
    left: 60px;
    z-index: 0;
  }
  .hp_aw_container .size_manager .left span:last-child img {
    display: none;
  }
  .hp_aw_container .size_manager .right {
    width: 60%;
  }
  .hp_aw_container .size_manager .right h4 {
    font-size: 20px;
  }
  .hp_aw_container .size_manager .right h1 {
    font-size: 30px;
  }
  .footer_container {
    height: auto;
  }
  .footer_container .size_manager {
    padding: 10px;
    display: grid;
    height: auto;
  }
  .footer_container .size_manager .mission_content {
    height: auto;
    grid-area: mission;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer_container .size_manager .quick_links {
    margin: 0;
    padding: 5px;
    margin-top: 20px;
    grid-area: links;
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .footer_container .size_manager .f_contact_us {
    margin-top: 20px;
    grid-area: fcontact;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: auto;
    padding: 2px;
  }
}
@media screen and (max-width: 500px) {
  .hbsl_aw_container {
    padding: 10px;
  }
  .hbsl_aw_container .header h2 {
    font-size: 30px;
  }
  .hbsl_aw_container .size_manager {
    padding: 10px;
    width: 100%;
  }
  .hbsl_aw_container .size_manager .owl-carousel {
    width: 100%;
  }
  .hbsl_aw_container .size_manager .owl-carousel .owl-item {
    width: 200px;
  }
  .hbsl_aw_container .size_manager .owl-carousel .owl-item .product_list .detail_container h2 {
    font-size: 18px;
  }
  .latest_news_container {
    width: 100%;
  }
  .latest_news_container .latest_news_list {
    width: 100%;
  }
  .hp_aw_container .size_manager .left {
    width: 20%;
  }
  .hp_aw_container .size_manager .left span:last-child {
    left: 30px;
  }
  .hp_aw_container .size_manager .right {
    width: 80%;
  }
}/*# sourceMappingURL=index.css.map */